/***************************************** Title *****************************************/
body {
    background-color: #f2f3f9;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

/***************************************** Title *****************************************/
.page-title {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #282a3a;
    text-align: center;
    padding-top: 50px;
}

/***************************************** List *****************************************/
.doctors .list {
    margin: 30px 60px;
}

.doctors .list .card {
    border: none;
    border-bottom: 5px solid #d3d3d3;
    margin: 20px;
    padding: 0;
    cursor: pointer;
}

.doctors .list .card:hover {
    border-bottom: 5px solid #282a3a;
    transform: translateY(5px);
}

.doctors .list .card img {
    float: left;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.doctors .list .card .content {
    padding: 20px;
    float: right;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 230px;
    width: 250px;
    padding-top: 50px;
    text-align: left;
}

.doctors .list .card .content p span {
    font-weight: 600;
}

@media (max-width: 700px){
    .doctors .list .card img {
        float: none;
        width: 290px;
    }
    .doctors .list .card .content {
        float: none;
        height: 130px;
    }
}

/***************************************** List *****************************************/
.surgery .list {
    margin: 30px;
}

.surgery .list .card {
    border: none;
    border-bottom: 5px solid #d3d3d3;
    margin: 20px;
    padding: 0;
    cursor: pointer;
}

.surgery .list .card:hover {
    border-bottom: 5px solid #282a3a;
    transform: translateY(5px);
}

.surgery .list .card img {
    float: left;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.surgery .list .card .content {
    padding: 0 20px;
    float: right;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 120px;
    width: 200px;
    text-align: left;
    padding-top: 30px;
}

.surgery .list .card .content p span {
    font-weight: 600;
}

/***************************************** Titles *****************************************/
.header {
    padding: 50px 70px;
}

/***************************************** Carousel *****************************************/
.carousel-container {
    margin: 0;
    display: grid;
    grid-template-rows: 300px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

div#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

div.item:nth-of-type(1) {
    --offset: 1;
}

div.item:nth-of-type(2) {
    --offset: 2;
}

div.item:nth-of-type(3) {
    --offset: 3;
}

div.item:nth-of-type(4) {
    --offset: 4;
}

div.item:nth-of-type(5) {
    --offset: 5;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~div#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~div#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~div#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~div#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~div#carousel {
    --position: 5;
}

/***************************************** Content *****************************************/
.content-container{
    max-width: 80%;
    margin: auto;
    min-height: 200px;
}

.content-container .content{
    padding: 30px;
}

.content-container img.logo{
    width: 300px;
    height: 73px;
    border-radius: 0%;
    object-fit: cover;
    margin: 30px;
    float: left;
}

.content-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.content-container img.left{
    float: left;
    margin: 0 30px;
}

.content-container img.right{
    float: right;
    margin: 0 30px;
}

/***************************************** Developers Page*****************************************/


/***************************************** Footer*****************************************/
.home-footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

.home-footer>* {
    flex: 1 100%;
}

.home-footer-addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.home-footer-logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}

.home-footer-addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav-title {
    font-weight: 400;
    font-size: 15px;
}

.home-footer address {
    font-style: normal;
    color: #999;
}

.home-footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.home-footer ul {
    list-style: none;
    padding-left: 0;
}

.home-footer li {
    line-height: 2em;
}

.home-footer a {
    text-decoration: none;
}

.home-footer-nav {
    display: flex;
    flex-flow: row wrap;
}

.home-footer-nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav-ul a {
    color: #999;
}

.nav-ul-extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.media-links {
    padding: 5px;
}

.legal-links {
    display: flex;
    align-items: center;
    float: right;
}

@media screen and (min-width: 24.375em) {
    .legal .legal-links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .home-footer-nav>* {
        flex: 1;
    }

    .nav-item--extra {
        flex-grow: 2;
    }

    .home-footer-addr {
        flex: 1 0px;
    }

    .home-footer-nav {
        flex: 2 0px;
    }
}